<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pincér Alkalmazás</title>
    
    <link rel="stylesheet" href="style.css">

    
</head>
<body>
    <h1>Pincér Alkalmazás</h1>
    <nav>
        <ul>
            <li><a href="/reservation/create" target="_blank">Asztalfoglalás</a></li>
            <li><a href="/preorder/create" target="_blank">Előrendelés</a></li>
            <li><a href="/calendar">Naptár</a></li>
            <li><a href="/searching">Keresés</a></li>
            <li><a href="/message_generator">Üzenet generátor</a></li>
        </ul>
    </nav>
</body>
</html>
